<!-- {% load static %} -->

<html>
  <head>
    <title>Rizal Library Request Form</title>
    <!-- bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css"
    />

    <!-- custom css -->
    <style>
      /* when you select the input, it will diplay this color as shadow */
      .form-control:focus,
      .form-select:focus {
        border-color: #d0ac44;
        box-shadow: 0 0 0 0.2rem rgba(208, 172, 68, 0.5);
      }

      /* when you hover item from select, it will diplay this color */
      .dropdown-menu > li > a:hover,
      .dropdown-menu > li > a:focus {
        text-decoration: none;
        color: #ffffff;
        background-color: #d0ac44;
      }

      /* color for submit button*/
      .submitbackbtn {
        background-color: #d0ac44;
      }
    </style>
  </head>

  <body style="background-color: rgba(0, 38, 77, 255)" onload="realtimeClock()">
    <nav
      class="navbar navbar-dark bg-custom p-4 mb-4 rounded-top rounded-5"
      style="background-color: #0d4d92"
    >
      <div class="container-fluid">
        <p class="text-white fs-1 fw-bold mb-0">Ateneo Rizal Library Form</p>

        <span class="text-white fs-1 fw-bolder"> <div id="clock"></div> </span>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <!-- {% block content %} 
        {% endblock %} -->
      </div>
    </div>

    <!--                                        forms                                  -->
    <div
      class="container rounded-3 p-3"
      style="background-color: rgb(243 243 243)"
    >
      <!-- vertical divider / form color-->
      <div class="border-start border-end border-3 p-4">
        <!-- Headings -->
        <p class="fs-2 fw-semibold mb-0">Ateneo Rizal Library Form</p>
        <p class="fs-5 fw-normal fst-italic">
          Kindly answer all the required fields. (All fields are required unless
          stated)
        </p>

        <!-- horizontal divider -->
        <div class="border-bottom border-3 mb-3 rounded"></div>

        <!-- input padding -->
        <div class="offset-md-2">
          <!-- Text input-->
          <div class="mb-4">
            <p class="fs-5 fw-normal">Last Name</p>
            <div class="col-md-8">
              <input
                name="first_name"
                placeholder="First Name"
                class="form-control"
                type="text"
              />
            </div>
          </div>

          <!-- select input -->
          <div>
            <p class="fs-5 fw-normal">Visitor Type</p>
            <div class="col-md-4">
              <select
                class="selectpicker bg-white border border-1 rounded mb-4"
                title="select visitor type"
                data-width="100%"
              >
                <option>Mustard</option>
                <option>Ketchup</option>
                <option>Barbecue</option>
              </select>
            </div>
          </div>
        </div>

        <!-- back and submit button -->
        <div class="mx-3">
          <button type="button" class="btn btn-outline-warning px-4">
            Back
          </button>
          <button
            type="button"
            class="btn btn-warning float-end submitbackbtn text-white"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </body>

  <!-- jquery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- bootstrap -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"
  ></script>
  <!-- for customizing select form -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/i18n/defaults-*.min.js"></script>
  <!-- for showing the current time -->
  <script>
    function realtimeClock() {
      var rtClock = new Date();
      var hours = rtClock.getHours();
      var minutes = rtClock.getMinutes();
      var seconds = rtClock.getSeconds();

      var amPm = hours < 12 ? "AM" : "PM";
      hours = hours > 12 ? hours - 12 : hours;

      hours = ("0" + hours).slice(-2);
      minutes = ("0" + minutes).slice(-2);
      seconds = ("0" + seconds).slice(-2);

      document.getElementById("clock").innerHTML =
        hours + " : " + minutes + " : " + seconds + " " + amPm;

      var t = setTimeout(realtimeClock, 500);
    }
  </script>
</html>
